* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


#back{
    background-image: url(../images/background.png);
    background-size: cover;
    background-color: rgb(8, 8, 63);

   
   
}

#one i {
    color: rgb(8, 8, 95);
    padding: 10px;

    
}

#nav {  
    height: 25px;
    color: aliceblue;
}
#nav ul li{
    padding: 10px;
    font-size: larger;
    
}

#two img:hover {
    transform:scale(1.1);
    transition: 2s;

}


.card h4:hover {
    color: rgb(42, 42, 207);


}

.three {
    background-color:rgba(0, 0, 0, 0.6);
    background-image: url(../images/cta-bg.jpg);
    background-size:cover;
    height: 200px;  
}



#mark1 li , #mark4  {
    list-style: none;
   

}
#mark4 li i {
    margin: 10px;
    list-style: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: blue;
    border-radius: 5px;
    border: 1px;
    height: 50px;

}

#mark1  li  i  {
    color: rgb(15, 15, 182);
    font-size: 48px;
    margin-right: 20px;
    line-height: 0;

}


#mark2 li {
    list-style: none;
}

#mark2 li i {
    list-style: none;
    padding: 10px;
    color: blue;
}

#mark3 li {
    list-style: none;
}

#mark3 li i {
    padding: 10px;
    color:green;
}
.carousel{
    background-color:rgba(0, 0, 0, 0.5);
      color: aliceblue;
    height: 400px;
    background-size: cover;
    background-position: 0rem;
    background-image: url(../images/testimonials-bg.jpg);
    background-blend-mode: darken;
   text-align: center;
   align-items: center;
}

.carousel i{
    color: rgb(173, 173, 17);
}
#cro button{
    height: 15px;
    width: 15px;
    border: 1px;
    border-radius: 50px;
    margin-bottom: 50px;
}



#footericon  ul {
    list-style: none;
    display: flex;
    padding:0;  
    color:white ;
}

#footericon  ul li{
    padding:  10px ;
    border: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(222, 211, 211);
    border-radius: 50px;
    font-size: 18px;
    

}
#footerul ul , #footeruli ul {
    list-style: none;
    padding:0;  

}
#footerul ul li , #footeruli ul li{
    padding: 4px;
}

#footerul ul a, #footeruli ul a {
    text-decoration: none;
    color: rgba(240, 248, 255, 0.562);
}
#footerend{
    text-align: center;
}

.banner {
    background-color:rgba(0, 0, 0, 0.6);
    background-image: url(../images/card/logistics-service.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    height: 350px;
    background-blend-mode: darken;

}
.banner h1 {
    font-size:80px;
}
#ourteam  ul li{
    list-style: none;
    padding: 5px;

   
}
#ourteam  ul{
    justify-content: center;
}
#ourteam p{
    font-size:13px;
}

